@import "tailwindcss";

:root {
  --background: #280f33;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #280f33;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Apple SD Gothic Neo", "SF Pro Text", Arial, sans-serif;
}

/* 진행 바 애니메이션 */
@keyframes progress-animation {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.progress-animation {
  animation: progress-animation 2s infinite alternate;
}

/* 프로그레스 바 그라데이션 애니메이션 */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
}
